{
  "log": {
    "_recordingName": "client-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e9e0c0f658ed2c5d6de10c638fe33ff9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://howdy3-dev-ed.develop.my.salesforce.com/services/data/v50.0/sobjects/User/describe"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 75,
            "text": "[{\"message\":\"Session expired or invalid\",\"errorCode\":\"INVALID_SESSION_ID\"}]"
          },
            {
              "expires": "2024-05-08T16:32:38.000Z",
              "maxAge": 31536000,
              "name": "LSKey-c$CookieConsentPolicy",
              "path": "/",
              "value": "[REDACTED]"
            },
            {
              "domain": ".salesforce.com",
              "expires": "2024-05-08T16:32:38.000Z",
              "maxAge": 31536000,
              "name": "BrowserId",
              "path": "/",
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Token"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 730,
      },
      {
        "_id": "4d764d5d8df487d6f1a43b3bcf01d135",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "grant_type=refresh_token&refresh_token=INVALID&client_id=INVALID&client_secret=INVALID"
          },
          "queryString": [],
          "url": "https://login.salesforce.com/services/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 77,
            "text": "{\"error\":\"invalid_client_id\",\"error_description\":\"client identifier invalid\"}"
          },
            {
              "expires": "2024-05-08T16:32:39.000Z",
              "maxAge": 31536000,
              "name": "LSKey-c$CookieConsentPolicy",
              "path": "/",
              "value": "[REDACTED]"
            },
            {
              "domain": ".salesforce.com",
              "expires": "2024-05-08T16:32:39.000Z",
              "maxAge": 31536000,
              "name": "BrowserId",
              "path": "/",
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 855,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
