{
  "log": {
    "_recordingName": "fetchUserRolesShouldCollectData",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6d1bef4f55f4fcedf199dafa87594d17",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://howdy3-dev-ed.develop.my.salesforce.com/services/data/v50.0/sobjects/UserRole/describe"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 75,
            "text": "[{\"message\":\"Session expired or invalid\",\"errorCode\":\"INVALID_SESSION_ID\"}]"
          },
            {
              "expires": "2024-04-09T15:06:41.000Z",
              "maxAge": 31536000,
              "name": "LSKey-c$CookieConsentPolicy",
              "path": "/",
              "value": "[REDACTED]"
            },
            {
              "domain": ".salesforce.com",
              "expires": "2024-04-09T15:06:41.000Z",
              "maxAge": 31536000,
              "name": "BrowserId",
              "path": "/",
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Token"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 892,
      },
      {
        "_id": "c2ea78bd45b4e2aa6db89d3854a8ec80",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://login.salesforce.com/services/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 447,
            "text": "{\"access_token\":\"[REDACTED]\",\"signature\":\"[REDACTED]\",\"scope\":\"refresh_token api\",\"instance_url\":\"https://howdy3-dev-ed.develop.my.salesforce.com\",\"id\":\"https://login.salesforce.com/id/00DDo000000rryBMAQ/005Do000000PVvJIAW\",\"token_type\":\"Bearer\",\"issued_at\":\"1681139202034\"}"
          },
            {
              "expires": "2024-04-09T15:06:41.000Z",
              "maxAge": 31536000,
              "name": "LSKey-c$CookieConsentPolicy",
              "path": "/",
              "value": "[REDACTED]"
            },
            {
              "domain": ".salesforce.com",
              "expires": "2024-04-09T15:06:41.000Z",
              "maxAge": 31536000,
              "name": "BrowserId",
              "path": "/",
              "value": "[REDA[...]
